<header>
  <h1>{{ title }}</h1>
  <app-button *ngIf="hasRoute('/')"
    class="{{showAddTask ? 'btn-danger' : 'btn-success'}} rounded"
    text="{{showAddTask ? 'Close' : 'Add'}}"
    (btnClick)="toggleAddTask()">
  </app-button>
</header>
