<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <h4>Create Task</h4>
  <div class="form-control">
    <label for="taskInput">Task</label>
    <input type="text" class="form-control" name="taskInput" id="taskInput" [(ngModel)]="taskInput" placeholder="Add Task">
  </div>
  <div class="form-control">
    <label for="dateTime">Day & Time</label>
    <input type="text"  class="form-control" name="dateTime" id="dateTime" [(ngModel)]="dateTime" placeholder="Day & Time">
  </div>
  <div class="form-control ">
    <label for="reminder">Reminder</label>
    <input type="checkbox" class="form-check" name="reminder" id="reminder" [(ngModel)]="reminder">
  </div>
  <input type="submit" value="Save Task" class="btn btn-success block">
</form>
